@import 'https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Inconsolata:wght@200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap';

* {
    font-family: "Open Sans";
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:960px;
}

body {
    display: grid;
    max-width: 1440px;
    height: 100%;
    background: linear-gradient(315deg, #000000 0%, #111111 74%);
}

.nav {
    margin: auto;
    width:50%;
}

.button {
    --button-background:
        --button-color: black;
    display: flex;
    width: 500px;
    height: 30px;
    margin: 1rem;
    border-radius: 20px;
    border: 2px solid var(--button-background);
}

.button a {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: black;
    opacity: 1;
    outline: none;
    position: relative;
}

.button a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: skyblue;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out
}

.button a:hover {
    color: skyblue;
    text-underline-offset: 100;
}

.button a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

label {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

textarea {
    resize: none;
}

#overview h1 {
    width:auto;
    height:auto;
    margin-top: 150px;
    margin-left: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: white;
    
}

#overview h2 {
    width:auto;
    height:auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    max-width: 25%;
    margin-top:80px;
    margin-left:100px;
    line-height: 1;
}

.links {
    display:flex;
    margin-left:75px
}

.links i {
    height:100px;
    width:100px;
}

.links li {
    display: inline-block;
    width: 100px;
    height: 60px;
    border-radius: 50px;
    line-height: 60px;
    text-align: center;
    box-shadow: 0px 10px 10px rgba(255, 255, 255, 0.1);
    margin-left:20px;
    margin-top:20px;
}

li a{
    color:white;
    height:100px;
    width:100px;
 }

 li a:hover {
    color:skyblue
 }

#bio {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    max-width: 1000px;
    text-align: center;
    line-height: 2;
    float:center;
    margin-top:200px
}

#self {
    object-fit: cover;
    border-radius: 50%;
    border-style:solid;
    border-width: 10px;
    border-color:skyblue;
    width: 400px;
    height: 400px;
    float:right;
}

#projheading {
    margin-top: 200px;
    margin-bottom:100px;
    font-size: 30px;
    text-align: center;
}


/* animation for sliding images */
   @keyframes ok {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}  

.slider {
    overflow: hidden;
    padding: 50px 0;
    color:skyblue;
    white-space :nowrap;
}

.slide-track {
    display: inline-block;
    animation: 5s ok infinite linear;
} 

 .slide-track img {
    width: 50px;
    height: 250px;
 }
   

.slide-track:hover {
    animation-play-state: paused;

}

.slide {
    height:250px;
    width: 250px;
    display: inline-block;
    align-items: center;
    padding: 30px;
    perspective: 100px;
    position: relative;
}

.slide img {
    object-fit: cover;
    height:200px;
    width:200px;
}

.github-link {
    width:100px;
    height:50px;
    border-radius: 10px;
    border-style:solid;
    background-color: black;
    border-color: rgba(88, 85, 85, 0.159);
    position:absolute;
    top:100%;
    left:25%;
    border-radius: 50px;
    line-height: 60px;
    text-align: center;
    box-shadow: 0px 10px 10px rgba(255, 255, 255, 0.1);
}

.slide a {
    display: inline-block;
    font-size: 13px;
    text-decoration: none;
    color:white;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%);
    line-height: 0px;
    
}

.slide a:hover {
    color: skyblue;
}


img[src*='proj'] {
    width:100%;
    transition: transform 1s;
}

img[src*='proj']:hover {
    transform: translateZ(20px);
}

.slider::before {
    left:0;
    top:0;
}

.slider::after {
    right:0;
    top:0;
    transform: rotateZ(180deg)
}

#experienceheading {
    margin-top: 250px;
    margin-bottom:100px;
    font-size: 30px;
    text-align: center;
}

.timeline {
    margin: 5em auto;
    max-width: 34em;
}

.timeline h2 {
    margin-bottom: 0.5em;
}

.checkpoint {
    max-width: 34em;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
}

.checkpoint div {
    border: 2px solid #888;
    border-radius: 1em;
    padding: 1.5em;
}

.checkpoint p {
    line-height: 27px;
    color:#ccc;
}

.checkpoint:nth-child(odd) {
    border-left: 3px solid #888;
    padding-left: 3em;
    transform: translateX(17em);
}

.checkpoint:nth-child(even) {
    border-right: 3px solid #888;
    padding-right: 3em;
    transform: translateX(-16.81em);
}

.checkpoint:nth-child(odd)::before, .checkpoint:nth-child(even)::before {
    content: '';
    background: #888;
    width:3em;
    height:3px;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

.checkpoint:nth-child(odd)::before {
    left:0;
}

.checkpoint:nth-child(even)::before {
    right:-0.5em;
}

.checkpoint:nth-child(odd) div::before, .checkpoint:nth-child(even)::before {
    content: '';
    background-color: #fff;
    box-shadow: 0 0 0.5em #0d71fc;
    width:0.8em;
    height:0.8em;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.checkpoint:nth-child(odd) div::before {
    left:-0.5em;
}

.checkpoint:nth-child(even) div::before {
    right:-0.5em;
}

#contact h2 {
    padding-top: 5em;
    text-align: center;
}

#contact form {
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
}

#form label {
    
}

#form input {
    height: 3em;
}

#form textarea {
    
}

footer p {
    text-align: center;
    padding-bottom: 1em;
}